html, body {
    margin: 10px;
    padding: 0;
    text-align: center;
}

button, input[type=submit], input[type=button] {
    padding: 5px 10px;
    border: 5px double #CF451F;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    background-color: #630031;
    color: white;
}


div#title-box h2 {
    display: none;
}

div#title-box h1 {
    font-size: xx-large;
}

div#title-box img {
    display: block;
    max-width: 100%;
}

form#login-box input[type="text"],
form#login-box input[type="password"] {
    display: block;
    margin-bottom: 5px;
}

ul#primary-nav {
    padding: 0;
    list-style-type: none;
}

ul#primary-nav li a {
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    background-color: #630031;
    color: #CF451F;
    font-weight: bold;
}

ul#primary-nav li a.selected {
    background-color: #e5e1e6;
}

h2#section-heading {
    clear: left;
}

@media all and (min-width: 768px) {

    html, body {
        margin: 0;
        padding: 0;
        text-align: start;
        background-color: #630031;
    }

    /* header styles */
    div#header {
        background-color: #fff;
    }

    div#title-box {
        float: left;
        width: 62.5%;
        margin-left: 12.5%;
    }

    div#title-box h1 {
        font-size: xx-large;
        text-align: start;
        margin-top: 50px;
    }

    div#title-box h2 {
        font-size: x-large;
        display: block;
    }

    div#title-box img {
        display: inline;
        float: left;
        max-width: 200px;
    }

    form#login-box {
        float: left;
        width: 12.5%;
        margin-right: 12.5%;
        margin-top: 50px;
    }

    ul#primary-nav {
        clear: left;
        margin: 0 0 0 12.5%;
    }

    ul#primary-nav li {
        float: left;
    }

    ul#primary-nav li a:hover {
        background-color: #e5e1e6;
    }

    ul#primary-nav li a.selected {
        background-color: #e5e1e6;
    }

    div#content {
        clear: left;
        background-color: #e5e1e6;
        overflow: hidden;
        text-align: center;
    }

    div#content div#main-content {
        float: left;
        margin: 50px 12.5%;
        width: 75%;
        background-color: #fff;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    div#content div#main-content p {
        font-size: 1.1rem;
        line-height: 1.6;
        margin-bottom: 20px;
    }

    div#content div#main-content ul {
        list-style-type: none;
        padding: 0;
        font-style: italic;
    }

    div#content div#main-content li {
        color: #666;
        font-size: 1.1rem;
        margin-bottom: 10px;
    }

    div#footer {
        margin: 10px 12.5%;
        width: 75%;
        color: #fff;
        text-align: center;
    }

    div#footer a {
        color: white;
        text-decoration: none;
    }

    div#footer a:hover {
        text-decoration: underline;
    }

}